body {
	padding-top: 10px;
	padding-bottom: 40px;
}
#product_list .product_desc, #product_list a, #product_list input, #product_list button, #product_list textarea, #product_list select {
	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
*, a:focus, a:active {
	outline: none!important;
}
.no_margin_left {margin-left: 0;}
.eshopcart {
	min-height: 60px!important;
}
.span12, .container {
}
.no_margin_left {
	margin-left: 0;
}
footer h4 {
	margin-bottom: 8px;
}
.logo {
	height: 90px;
}
.links a {
	margin-right: 5px;
}
.product_list {
	margin-top: -5px;
	margin-left: 5px;
	min-height: 500px;
}
.product_list ul {
	list-style: none;
	margin: 0;
}

.product-info .thumbnails {
	margin: 10px 0 0;
}

.product-info .thumbnails li a img {
	border: 1px #ccc solid;
}

.pagination {
	margin: 0 auto;
	width: auto;
	text-align: center;
}
.product-sorting .input-large {
	width: 250px;
}
.product-show {
	display: inline-block;
	margin: 0 0 0 10px;
}
.product-show .inputbox {
	width:auto;
}
/* product_list - the side bar*/
.product_list {
	margin-top: -5px;
	margin-left: 5px;
	min-height: 500px;
}
.product_list ul {
	list-style: none;
	margin: 0;
}
.product_list > ul > li {
	padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
	text-decoration: none;
}
.product_list > ul > li > a:hover{
	text-decoration: none;
	background: none;
}
.product_list > ul > li ul {
	display: none;
}
.product_list > ul > li a.active {
	font-weight: bold;
}
.product_list > ul > li a.active + ul {
	display: block;
}
.product_list > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.product_list > ul > li ul > li > a.active {
	font-weight: bold;
}


.related_products .span2 {
width:160px;
}


.product_comparison .thumbnail{
border: none;
text-align:center;
}

.module {
	position: relative;
}

.product_comparison small{
font-weight: normal;
}

.product_comparison .product_stars {
text-align:center;
margin: 0 auto;
width: 85px;
}
.product_comparison .price_summary td{
text-align:center;
}
.navbar .btn.search_btn {
margin-top:1px;
}

.carousel-inner {
    height: 286px;
}
.carousel-caption {
bottom: -77px;
}

.popular_products .span2{
width:160px;
}

.customer_service {
	text-align:right;
	font-size:13px;
	margin: 12px 0 0;
}

.table td.center_text{
text-align:center;
}

.related_products .span2 {
	width:160px;
}
.product_comparison .thumbnail{
	border: none;
	text-align:center;
}
.product_comparison small{
	font-weight: normal;
}
.product_comparison .product_stars {
	text-align:center;
	margin: 0 auto;
	width: 85px;
}
.product_comparison .price_summary td{
	text-align:center;
}
.navbar .btn.search_btn {
	margin-top:1px;
}
.carousel-inner {
	height: 286px;
}
.carousel-caption {
	bottom: -77px;
}
.popular_products .span2{
	width:160px;
}
.customer_service {
	text-align:right;
	font-size:13px;
}
.table td.center_text{
	text-align:center;
}
#theme_switcher {
	top:10px;
	left:10px;
	position:fixed;
}
.base-price {
	color: #FF0000;
	text-decoration: line-through;
}
.error {
	color: #FF0000;
	display: block;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.checkout-heading {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #DBDEE1;
	color: #555555;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 8px;
}
.checkout-heading a {
	float: right;
	font-weight: normal;
	margin-top: 1px;
	text-decoration: none;
	cursor: pointer;
}
.checkout-content {
	display: none;
	overflow: auto;
	padding: 0 0 15px;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.success, .warning, .attention, .information {
	border-radius: 5px 5px 5px 5px;
	color: #555555;
	margin-bottom: 15px;
	padding: 10px 10px 10px 33px;
}
.warning {
	background: url("../images/warning.png") no-repeat scroll 10px center #FFD1D1;
	border: 1px solid #F8ACAC;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: url("../images/success.png") no-repeat scroll 10px center #EAF7D9;
	border: 1px solid #BBDF8D;
	border-radius: 5px 5px 5px 5px;
}
.review-list {
	border: 1px solid #EEEEEE;
	margin-bottom: 20px;
	overflow: auto;
	padding: 10px;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.product-info .product-desc {
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	padding: 0 5px 10px;
}
.product-info .product-price {
	border-bottom: 1px solid #E7E7E7;
	padding: 0 5px 10px;
}
.product-info .product-options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0 5px 10px;
}
.product-info .product-cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 10px 5px;
	margin-bottom: 20px;
}
.product-info .product-review, .product-share {
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 5px;
	margin-bottom: 10px;
}
.no-content {
	border: 1px solid #EEEEEE;
	margin-bottom: 20px;
	overflow: auto;
	padding: 10px;
}
span.stock {
	color: #FF0000;
	font-weight: bold;
}
table.list {
    border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}

table.list .left {
    padding: 7px;
    text-align: left;
}
table.list td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0 5px;
}

table.list .right {
    padding: 7px;
    text-align: right;
}
.order-list .order-id {
    float: left;
    margin-bottom: 2px;
    width: 49%;
}
.order-list .order-status {
    float: right;
    margin-bottom: 2px;
    text-align: right;
    width: 49%;
}
.order-content div{
	float:left;
	width: 33.3%;
}

.order-list .order-id {
    float: left;
    margin-bottom: 2px;
    width: 49%;
}
.order-list .order-status {
    float: right;
    margin-bottom: 2px;
    text-align: right;
    width: 49%;
}
.order-list .order-content {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}

.product-sorting {
	float: right;
	display: inline-block;
}

.product-info .image-additional a {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.product-info .image-additional img {
    border: 1px solid #E7E7E7;
	width: 70px;
	height: auto;
}

.topmenu .nav {
	margin: 0 0 5px;
}

.pagination {
	margin: 0 auto;
	width: auto;
	text-align: center;
}
.product-sorting .input-large {
	width: 120px;
}
.product-show {
	float: right;
	display: inline-block;
	margin: 0 0 0 10px;
}
.product-show .inputbox {
	width:auto;
}

.row h5 {
	margin: 0 0 10px;
}

.related_products .thumbnail {
	text-align: center;
}

.related_products .thumbnail img {
	border: 1px solid #DDDDDD;
}

.thumbnail .caption {
	text-align: center;
}

.product-info .related_products .thumbnail .caption {
	min-height: 80px;
}

.product-info .image-additional {
	clear: both;
	margin-top: 10px;
	margin-left: -10px;
	overflow: hidden;
}

.no_margin_left {
	float: right;
	display:inline-block;
}

.no_margin_left .btn {
	margin: 0;
}

.no_margin_left .privacy {
	float: left;
	display: inline-block;
	margin: 3px 0 0;
}

.no_margin_left .privacy input[type="checkbox"]{
	margin: 0;
}

.eshop-slideshow {
	margin: 0 0 20px;
	width: 100%!important;
}
.lof-slidecontent {
	width: auto!important;
}

body #productTab {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}

body #productTab li {
	list-style: none;
}


@media (min-width: 1024px) {
	#related-products .thumbnails {
		margin: 0 0 0 -20px;
	}
	.product-info .image-additional {
		clear: both;
		margin-top: 10px;
		margin-left: -10px;
		overflow: hidden;
		width: 260px;
	}
	.product-cart .no_margin_left input.span3 {
		margin: 0 5px 0 0;
		max-width: 35px;
	}
	.thumbnails .thumbnail {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.eshop-product ul li.eshop_product, .eshop-product ul li.eshop_product, .eshop-slideshow {
		width: 100%!important;
	}
	.jcarousel-skin-tango .jcarousel-container-horizontal,
	.jcarousel-skin-tango .jcarousel-clip-horizontal,
	.lof-slidecontent {
		width: auto!important;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.product-cart .no_margin_left input.span3 {
		float: left;
		margin: 0 5px 0 0;
		max-width: 35px;
	}
	.thumbnails .thumbnail {
		text-align: center;
	}
	.product-sorting b {
		display: inline-block;
		float: left;
		padding: 5px 0 0;
	}
	.product-sorting .input-large { float: right; }
}

@media (max-width: 767px) {
	.eshop-product ul li.eshop_product, .eshop-product ul li.eshop_product, .eshop-slideshow {
		width: 100%!important;
	}
	.jcarousel-skin-tango .jcarousel-container-horizontal,
	.jcarousel-skin-tango .jcarousel-clip-horizontal,
	.lof-slidecontent {
		width: auto!important;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.product-cart .no_margin_left input.span3 {
		float: left;
		margin: 0 5px 0 0;
		max-width: 35px;
	}
	.thumbnails .thumbnail {
		text-align: center;
	}
	.product-sorting b {
		display: inline-block;
		float: left;
		padding: 5px 0 0;
	}
	.product-sorting .input-large { float: right; }
}

@media (max-width: 480px) {
	.eshop-product ul li.eshop_product, .eshop-product ul li.eshop_product, .eshop-slideshow {
		width: 100%!important;
	}
	.jcarousel-skin-tango .jcarousel-container-horizontal,
	.jcarousel-skin-tango .jcarousel-clip-horizontal,
	.lof-slidecontent {
		width: auto!important;
	}
	#colorbox {
		width: 100%!important;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.product-cart .no_margin_left input.span3 {
		float: left;
		margin: 0 5px 0 0;
		max-width: 35px;
	}
	.thumbnails .thumbnail {
		text-align: center;
	}
	.product-sorting b {
		display: inline-block;
		float: left;
		padding: 5px 0 0;
	}
	.product-sorting .input-large { float: right; }
}

.ps_area {
	width: 100%;
}
.ps_facebook_like, .ps_facebook_send, .ps_twitter, .ps_google, .ps_linkedin {
	float: left;
	margin: 0 5px;
}

.ps_facebook_like {
	width: 122px;
}
.ps_twitter {
	width: 69px;
	float: left;
	position: relative;
}
.ps_pinit{
	float: left;
	position: relative;
	width: 50px;
    left: 10px;
}
.ps_linkedin {
	width: 65px;
}
.ps_google {
	width: 70px;
	margin-left: -3px;
}

.radio {
	display: block;
}

.checkbox {
	display: block;
}

.content_price .price {
    clear: both;
    display: block;
    font-size: 200% !important;
    font-weight: normal !important;
    line-height: 35px;
    width: 100%;
}

/* list */
.img_block img {
	
}
.list .img_block {
	width:30%;
	float:left;
}
.list .info_block {
	float:left;
	width:66%;
	text-align:left;
}
.grid .box {
	width: 31.914893617021278%;
	*width: 31.861702127659576%;
}
.s_title_block a {
	text-transform:uppercase;
	color:#3F3F3F;
	font-weight:normal;
	font-size:13px;
}
.s_title_block a:hover {
	color:#9BC607;
}
.info_block {
	padding:10px;
	text-align:center;
}
.info_block h5 {
	margin: 0;
}
.info_block h3 {
	margin:5px 0px;
	padding:0px;
	line-height:20px;
	height:40px;
}
.list .info_block {
    float: left;
    text-align: left;
    width: 40%;
}
.info_block h3 a {
	font-size:15px;
	color:#232323;
}
.info_block .product_desc {
	overflow:hidden;
	line-height:20px;
}

.list .buttons {
	text-align: left;
}

.list .ajax_block_product.spanbox {
	margin-left:0px!important;
	margin: 0 0 10px;
	padding: 0 0 10px;
	position:relative;
	width: 100%;
	border-bottom: 1px #efefef solid;
}
.list .buttons {
	position:absolute;
	bottom: 0;
	right:0px;
	width:auto;
	text-align: center;
}

/* grid */
/*product list*/
#product_list {
}
.ajax_block_product {
	transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	text-align:center;
}
.ajax_block_product:hover {	
}
.list .ajax_block_product:hover .info_block {
	background:none;
}
.img_block {
	position:relative;
	text-align:center;
}
body .grid .buttons .button {
	margin: 0 0 5px;
}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat}
.icon-glass{background-position:0 0}
.icon-music{background-position:-24px 0}
.icon-search{background-position:-48px 0}
.icon-envelope{background-position:-72px 0}
.icon-heart{background-position:-96px 0}
.icon-star{background-position:-120px 0}
.icon-star-empty{background-position:-144px 0}
.icon-user{background-position:-168px 0}
.icon-film{background-position:-192px 0}
.icon-th-large{background-position:-216px 0}
.icon-th{background-position:-240px 0}
.icon-th-list{background-position:-264px 0}
.icon-ok{background-position:-288px 0}
.icon-remove{background-position:-312px 0}
.icon-zoom-in{background-position:-336px 0}
.icon-zoom-out{background-position:-360px 0}
.icon-off{background-position:-384px 0}
.icon-signal{background-position:-408px 0}
.icon-cog{background-position:-432px 0}
.icon-trash{background-position:-456px 0}
.icon-home{background-position:0 -24px}
.icon-file{background-position:-24px -24px}
.icon-time{background-position:-48px -24px}
.icon-road{background-position:-72px -24px}
.icon-download-alt{background-position:-96px -24px}
.icon-download{background-position:-120px -24px}
.icon-upload{background-position:-144px -24px}
.icon-inbox{background-position:-168px -24px}
.icon-play-circle{background-position:-192px -24px}
.icon-repeat{background-position:-216px -24px}
.icon-refresh{background-position:-240px -24px}
.icon-list-alt{background-position:-264px -24px}
.icon-lock{background-position:-287px -24px}
.icon-flag{background-position:-312px -24px}
.icon-headphones{background-position:-336px -24px}
.icon-volume-off{background-position:-360px -24px}
.icon-volume-down{background-position:-384px -24px}
.icon-volume-up{background-position:-408px -24px}
.icon-qrcode{background-position:-432px -24px}
.icon-barcode{background-position:-456px -24px}
.icon-tag{background-position:0 -48px}
.icon-tags{background-position:-25px -48px}
.icon-book{background-position:-48px -48px}
.icon-bookmark{background-position:-72px -48px}
.icon-print{background-position:-96px -48px}
.icon-camera{background-position:-120px -48px}
.icon-font{background-position:-144px -48px}
.icon-bold{background-position:-167px -48px}
.icon-italic{background-position:-192px -48px}
.icon-text-height{background-position:-216px -48px}
.icon-text-width{background-position:-240px -48px}
.icon-align-left{background-position:-264px -48px}
.icon-align-center{background-position:-288px -48px}
.icon-align-right{background-position:-312px -48px}
.icon-align-justify{background-position:-336px -48px}
.icon-list{background-position:-360px -48px}
.icon-indent-left{background-position:-384px -48px}
.icon-indent-right{background-position:-408px -48px}
.icon-facetime-video{background-position:-432px -48px}
.icon-picture{background-position:-456px -48px}
.icon-pencil{background-position:0 -72px}
.icon-map-marker{background-position:-24px -72px}
.icon-adjust{background-position:-48px -72px}
.icon-tint{background-position:-72px -72px}
.icon-edit{background-position:-96px -72px}
.icon-share{background-position:-120px -72px}
.icon-check{background-position:-144px -72px}
.icon-move{background-position:-168px -72px}
.icon-step-backward{background-position:-192px -72px}
.icon-fast-backward{background-position:-216px -72px}
.icon-backward{background-position:-240px -72px}
.icon-play{background-position:-264px -72px}
.icon-pause{background-position:-288px -72px}
.icon-stop{background-position:-312px -72px}
.icon-forward{background-position:-336px -72px}
.icon-fast-forward{background-position:-360px -72px}
.icon-step-forward{background-position:-384px -72px}
.icon-eject{background-position:-408px -72px}
.icon-chevron-left{background-position:-432px -72px}
.icon-chevron-right{background-position:-456px -72px}
.icon-plus-sign{background-position:0 -96px}
.icon-minus-sign{background-position:-24px -96px}
.icon-remove-sign{background-position:-48px -96px}
.icon-ok-sign{background-position:-72px -96px}
.icon-question-sign{background-position:-96px -96px}
.icon-info-sign{background-position:-120px -96px}
.icon-screenshot{background-position:-144px -96px}
.icon-remove-circle{background-position:-168px -96px}
.icon-ok-circle{background-position:-192px -96px}
.icon-ban-circle{background-position:-216px -96px}
.icon-arrow-left{background-position:-240px -96px}
.icon-arrow-right{background-position:-264px -96px}
.icon-arrow-up{background-position:-289px -96px}
.icon-arrow-down{background-position:-312px -96px}
.icon-share-alt{background-position:-336px -96px}
.icon-resize-full{background-position:-360px -96px}
.icon-resize-small{background-position:-384px -96px}
.icon-plus{background-position:-408px -96px}
.icon-minus{background-position:-433px -96px}
.icon-asterisk{background-position:-456px -96px}
.icon-exclamation-sign{background-position:0 -120px}
.icon-gift{background-position:-24px -120px}
.icon-leaf{background-position:-48px -120px}
.icon-fire{background-position:-72px -120px}
.icon-eye-open{background-position:-96px -120px}
.icon-eye-close{background-position:-120px -120px}
.icon-warning-sign{background-position:-144px -120px}
.icon-plane{background-position:-168px -120px}
.icon-calendar{background-position:-192px -120px}
.icon-random{width:16px;background-position:-216px -120px}
.icon-comment{background-position:-240px -120px}
.icon-magnet{background-position:-264px -120px}
.icon-chevron-up{background-position:-288px -120px}
.icon-chevron-down{background-position:-313px -119px}
.icon-retweet{background-position:-336px -120px}
.icon-shopping-cart{background-position:-360px -120px}
.icon-folder-close{background-position:-384px -120px}
.icon-folder-open{width:16px;background-position:-408px -120px}
.icon-resize-vertical{background-position:-432px -119px}
.icon-resize-horizontal{background-position:-456px -118px}
.icon-hdd{background-position:0 -144px}
.icon-bullhorn{background-position:-24px -144px}
.icon-bell{background-position:-48px -144px}
.icon-certificate{background-position:-72px -144px}
.icon-thumbs-up{background-position:-96px -144px}
.icon-thumbs-down{background-position:-120px -144px}
.icon-hand-right{background-position:-144px -144px}
.icon-hand-left{background-position:-168px -144px}
.icon-hand-up{background-position:-192px -144px}
.icon-hand-down{background-position:-216px -144px}
.icon-circle-arrow-right{background-position:-240px -144px}
.icon-circle-arrow-left{background-position:-264px -144px}
.icon-circle-arrow-up{background-position:-288px -144px}
.icon-circle-arrow-down{background-position:-312px -144px}
.icon-globe{background-position:-336px -144px}
.icon-wrench{background-position:-360px -144px}
.icon-tasks{background-position:-384px -144px}
.icon-filter{background-position:-408px -144px}
.icon-briefcase{background-position:-432px -144px}
.icon-fullscreen{background-position:-456px -144px}